
<div class='header'>
  <%= image_tag("couch.jpg", class: "cover") %>
</div>
<h1>Clean Slate</h1>
<h2 class='subtitle'>Get even with your roommates and live happily ever after.</h2>
<h2 class='subtitle'> An app for settling your accounts.</h2>

<% if current_user.temp_id %>
  <h2><%= link_to "Confirm Profile Information", users_path(current_user) %></h2>

<% elsif current_user %>
  <h2><%= link_to "Create Your Apartment", new_apartment_path %></h2>

<% else %>

  <%= link to "Sign in or Create an Account", new_user_session_path %>

<% end %>

<%= image_tag("cup.jpg", class: "image") %>
