<h2>Register:</h2>

<p class="subtitle">Create a profile for your house or apartment so that you can invite your roommates to join your account on Clean Slate, and start tracking your household expenses!</p>


<%= form_for ([@apartment]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>

<%= image_tag("kitchen.jpg", class: "image") %>
