<h1><%= @apartment.name %></h1>
<button><%= link_to "Update Apartment", edit_apartment_path(@apartment) %></button>

<h2 class='subtitle'>Roommates:</h2>
  <% @roommates.each do |roommate| %>
  <p><%= roommate.first_name %></p>
  <% end %>

<button><%= link_to "Invite Roommates", new_user_path %></button>


<div class="expenses">
  <h2 class='subtitle'>This Month's Expenses:</h2>
  <button><%= link_to "New expense (+)", new_expense_path(current_user) %></button>

<div id="table">
  <% @roommates.each do |roommate| %>
    <table class="center">
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Roommate</th>
        <th></th>
        <th></th>
      </tr>

      <% roommate.expenses.each do |expense| %>
      <tr>
        <td><%= expense.created_at %></td>
        <td><%= expense.description %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.user.first_name %></td>
        <td><%= link_to "Edit", edit_expense_path(expense) %></td>
        <td><%= link_to "Remove", expense, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <% end %>
</div>
  <br>
</div>

<h2 class='subtitle'>Settle Up:</h2>
<table class="center">
  <tr>
    <th>Roommate</th>
    <th>Total Spent</th>
    <th>Balance</th>
  </tr>

  <% @roommate_sums.each do |sum| %>

  <tr>
    <td><%= sum[:user].first_name %></td>
    <td><%= sum[:total] %></td>
    <td><%= sum[:balance] %></td>
  </tr>
  <% end %>
  <tr>
    <td>Total Spent:</td>
    <td><%= @grand_total %></td>
    <td>0</td>
  </tr>
</table>

<button>All Paid up? Click Here for a Clean Slate</button>

<div class ="center">
<%= image_tag("bills.jpg", class: "image") %>
</div>

<br>
